/* These are overrides for the offline apps */

/* Turn off navigation header */
.headerlinks,
#headerlinks {
  display: none !important;
}

/* Turn off some footer links (except privacy and tos) */
.navbar-static-top.footer a:not([href$="privacy.html"]) + .dim, .navbar-static-top.footer .dim + a:not([href$="tos.html"]) {
  display: none !important;
}

/* Turn off course Continue/Support buttons */
.unit-overview-top-row > div:first-child {
  display: none !important;
}

/* Turn off "immersive reader" (does not function in offline) */
.immersive-reader-button {
  display: none !important;
}

/* Hide the signup/support/help buttons as they don't function in offline) */
#pageheader #right,
#pageheader #help-button,
#pageheader #sign_in_or_user,
#pageheader #hamburger,
.header_right {
  display: none !important;
}

/* Hide everything after the certificate in the "finish" page for HoC modules */
/* This is to hide the 'Next, do these project' which don't work offline */
#congrats-container > div > div ~ * {
  display: none !important;
}

/* Hide the 'share' section for the certificates */
#congrats-container > div > div > div > h2,
#congrats-container > div > div > div > h2 ~ * {
  display: none !important;
}

/* Hide share/remix header buttons */
#project_info_container {
  display: none !important;
}

/* Turn off video download button */
.download-video {
  display: none !important;
}

/* Remove the tag that says this is a development mode server */
#environment_tag {
  display: none !important;
}

/* Remove sharing buttons. */
#sharing-dialog-copy-button, .social-buttons {
  display: none !important;
}

/* Removing like/dislike social buttons. */
#puzzleRatingButtons {
  display: none !important;
}

/* Removing the ping back api image */
.full_container > img {
  display: none !important;
}

/* Remove the course navigation */
#header_popup_container {
  display: none !important;
}

/* Some broken styling for the video.js buttons (minecraft levels in particular) */
body.minecraft .vjs-button > .vjs-icon-placeholder:before {
  font-size: 0.5em;
  line-height: 1.5em;
}

/* Remove the "Projects" section from the extra levels page */
#lesson-extras div + div + p ~ div,
#lesson-extras div + div + div ~ div {
  display: none !important;
}

/* Remove the "Continue to lesson 2" button */
/* This does not work for modularized courses where each lesson is an
 * independent module. */
#lesson-extras div div h1 + a {
  display: none !important;
}
