/* These are overrides for the offline apps */

/* Turn off TTS (does not function in offline) */
.immersive-reader-button {
  display: none !important;
}

/* Hide the signup/support/help buttons as they don't function in offline) */
.header_right {
  display: none !important;
}

/* Unfortunately, the language dropdown does not work either! */
.i18n-dropdown-container {
  display: none !important;
}

/* Turn off video download button */
.download-video {
  display: none !important;
}

/* Remove the tag that says this is a development mode server */
#environment_tag {
  display: none !important;
}

/* Remove sharing buttons. */
#sharing-dialog-copy-button, .social-buttons {
  display: none !important;
}

/* Removing like/dislike social buttons. */
#puzzleRatingButtons {
  display: none !important;
}
